body {
	margin: 0;
}

header {
	color: black;
	margin: 0;
	padding: 15px 15px 0 15px;
	font-style: Helvetica;
	font size: 60px
}

h1 {
	font-style: Helvetica;
	font size: 40px

}


header h1 {
	margin: 0;
	display: inline;
}

nav ul {
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
}

nav ul li { 
	color: black;
	display: inline-block;
	list-style-type: none: 
	padding: 5px 15px;
	margin: 0;
	font-style: Helvetica; 
 }

 nav ul li a { 
 	color: black;
  }

  .row {

  }

  .col {
  	background: #222;
  	float: left;
  	margin: .5%;
  	width: 40px%;
  	color: white;
  	font-size: 48px;
  	padding: 10px .5px;

  }

  footer {
  	clear: both;
  }